<!--main content start-->
      
          <section class="wrapper site-min-height" style="margin-top: 30px;">
          	<h3><i class="fa fa-angle-right"></i> Bienvenido al Sistema MGZ</h3>
          	<div class="row mt">
          		<div class="col-lg-12">
          		
					
					
					<! -- 2ND ROW OF PANELS -->
					<div class="row">
						
						
						<! -- PROFILE 01 PANEL -->
						<div class="col-lg-4 col-md-4 col-sm-4 mb">
							<div class="content-panel pn">
								<div id="profile-01">
									<%=image_tag("admin.jpg", :size => "327x150")%>
								</div>
								<div class="profile-01 centered">
									<p><%= link_to 'ADMINISTRAR USUARIOS', usuarios_path %></p>
								</div>
								<div class="centered">
									<h5><i class="fa fa-user-secret"></i><br/> Acceso al Registro de Usuarios del Sistema</h5>
								</div>
							</div><! --/content-panel -->
						</div><! --/col-md-4 -->
						
						
					</div><! --/END 2ND ROW OF PANELS -->
					
					

					
          		</div>
          	</div>
			
		</section><! --/wrapper -->
      

      <!--main content end-->